<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        header {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<header>
    <div class="container">
        <a href="/admin/home">Новостной портал</a>
        <nav class="nav justify-content-center">
            <a class="nav-link" href="/admin/addCategoryNewsPage">Добавить категорию новости</a>
            <a class="nav-link" href="/admin/addNewsPage">Добавить новость</a>
            <a class="nav-link" href="/admin/categoryListPage">Список категорий </a>
            <a class="nav-link" href="/admin/newsListPage">Список новостей</a>
            <a class="nav-link" href="/admin/addUserPage">Добавить пользователя</a>
            <a class="nav-link" href="/admin/usersListPage">Список пользователей</a>
            <a class="nav-link" href="/logout">Выйти</a>
        </nav>
    </div>
</header>
<div class="container">
    <h2 class="text-center mt-5 mb-3">Список забаненных пользователей</h2>
    <br>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Логин</th>
            <th>Роль</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user : ${bannedUsers}">
            <td th:text="${user.user.id}"></td>
            <td th:text="${user.user.userLogin}"></td>
            <td th:text="${user.user.userRole.roleName}"></td>
            <td>
                <a th:href="@{/admin/unbanUser/{userId}(userId=${user.user.id})}" class="btn btn-danger">Разбанить</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<footer>
    <div class="container">
        <p>Контактная информация: +375447860021</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
