<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Что то пошло не так ....</title>
</head>
<body>
<a href="127.0.0.1:8080/">На главную</a>
<br>
<br>
<br>
<h5>Либо нажмите кнопку назад в браузере</h5>
<br>
<br>
<br>
<p>Это не значит что программа работает некорректно
    Скорее всего вы выполнили какие то невалидные дейсвтия
    Например вы попытались удалить тип нововсти но так как с ней
    есть связанные новости(нововсти этого типа то падает ошибка
</p>
</body>
</html>